.collectionContainer {
    display: grid;
    grid-template-columns: calc((100% - 30px) / 3) calc((100% - 30px) / 3) calc((100% - 30px) / 3);
    grid-gap: 15px;
    word-wrap: break-word;

    @media (max-width: 800px) {
        grid-template-columns: calc((100% - 15px) / 2) calc((100% - 15px) / 2);
    }
}

.link {
    text-decoration: none;
}

.collectionItem {
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 2px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

    &:hover {
        cursor: pointer;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    }
}

.title {
    font-family: var(--font-cursive);
    font-size: var(--font-size-large);
    font-weight: bold;
    color: var(--color-blue)
}

.labelContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px 20px;
    padding: 5px 0;
}

.label {
    font-weight: bold;
    font-size: var(--font-size-default);
    color: var(--color-dark-grey);
}