.recipeContainer {
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
}

.title {
    font-family: var(--font-cursive);
    font-size: x-large;
    font-weight: bold;
    color: var(--color-black);
    padding: 25px 0 10px 0;
}

.labelContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px 20px;
    padding: 5px 0;
    margin-bottom: 20px;
}

.label {
    font-weight: bold;
    color: var(--color-dark-grey);
    text-wrap: nowrap;
}

.sectionContainer {
    flex: 1;
}

.sectionTitle {
    font-family: var(--font-cursive);
    font-size: large;
    font-weight: bold;
    color: var(--color-black);
    padding: 15px 0;
    display: flex;
    align-items: center;
}


.ingredientsContainer {
    display: grid;
    grid-template-columns: 100px auto;
    grid-gap: 15px;
}

.ingredientQuantity {
    text-align: right;
    font-weight: bold;
}

.ingredientDescription {
    text-align: left;
    font-weight: bold;
}

.instruction {
    font-weight: bold;
}

.responsiveLayoutContainer {
    display: flex;
    flex-direction: row-reverse;
    gap: 20%;

    @media (max-width: 800px) {
        flex-direction: column;
        gap: 50px;
    }
}