.recipeContainer {
    display: flex;
    flex-direction: column;
    padding: 25px 0 25px 0;
}

.title {
    font-family: var(--font-cursive);
    font-size: var(--font-size-x-large);
    font-weight: bold;
    color: var(--color-blue);
    padding: 0 0 10px 0;
}

.labelContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px 20px;
    padding: 5px 0;
    margin-bottom: 20px;
}

.label {
    font-size: var(--font-size-default);
    font-weight: bold;
    color: var(--color-dark-grey);
    text-wrap: nowrap;
}

.sectionContainer {
    flex: 1;
}

.sectionTitle {
    font-family: var(--font-cursive);
    font-size: var(--font-size-large);
    font-weight: bold;
    color: var(--color-blue);
    padding: 15px 0;
    display: flex;
    align-items: center;
}


.ingredientsContainer {
    display: grid;
    grid-template-columns: 70px auto;
    grid-gap: 15px;
}

.ingredientQuantity {
    text-align: right;
    font-size: var(--font-size-default);
    font-weight: bold;
}

.ingredientDescription {
    text-align: left;
    font-size: var(--font-size-default);
    font-weight: bold;
}

.instruction {
    font-weight: bold;
    font-size: var(--font-size-default);
}

.responsiveLayoutContainer {
    padding-top: 10px;
    display: flex;
    flex-direction: row-reverse;
    gap: 20%;

    @media (max-width: 800px) {
        flex-direction: column;
        gap: 50px;
    }
}