.container {
    position: relative;
    background-color: var(--color-white);
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.logoText {
    font-family: var(--font-cursive);
    font-size: x-large;
    color: var(--color-blue);
    margin-left: 10px;

    @media (max-width: 800px) {
        display: none;
    }
}

.link {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;

    &:hover {
        cursor: pointer;
    }
}