:root {
  --color-background: #b7b4b9;
  --color-primary: #61274b;
  --color-black: black;
  --color-white: white;
  --color-medium-grey: grey;
  --color-dark-grey: #444444;

  --font-cursive: Lucida Handwriting, cursive;
  --font-serif: Garamond, serif;
}

body {
  font-family: var(--font-serif);
  margin: 0;
}